body{
    overflow-x: hidden;
}

.navbarItem{
    color: black;
    cursor: pointer;
}

.uniText:hover{
    text-shadow: 0 0 15px rgb(255, 189, 67);
}

.toggleBtn{
    background-color: white; 
    border: none;
    
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.navbarStyle{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(181, 181, 181);
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.logo{
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(212, 212, 212);
}

.titleText{
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

.text{
    font-family: 'Mukta', sans-serif;
    color: rgb(80, 80, 80);
}

.socialIco{
    color: rgb(112, 112, 112);
}

.socialIco:hover{
    color: orange;
}

.blogs{
    border: none;
    cursor: pointer;
}

.blogs:hover{
    background-color: rgb(234, 234, 234);
}

.articleText{
    color: rgb(255, 177, 32);
}

.articleText:hover{
    color: rgb(255, 177, 32);
    text-shadow: 0 0 15px rgb(255, 189, 67);
}


.aboutProfile{
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
}

.btnDownloadCV{
    background-color: rgb(255, 177, 32);
    font-weight: 500; 
    color: rgb(75, 75, 75);
}

.btnDownloadCV:hover{
    background-color: orange;
    color: rgb(88, 88, 88);
}